<div class="container-fluid">
    <div class="row">
        <!-- Sidebar de navegación -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar vh-100">
            <div class="d-flex flex-column h-100">
                <!-- Header del sidebar -->
                <div class="position-sticky">
                    <h4 class="text-white p-3">AdminKaraoke</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink='/dashboard'>
                                <i class="bi bi-speedometer2"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink='canciones'>
                                <i class="bi bi-music-note-list"></i> Gestión de Canciones
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink='clientes'>
                                <i class="bi bi-people"></i> Gestión de Clientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink='playlist'>
                                <i class="bi bi-music-note-beamed"></i> Playlist Recomendadas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink='sugerencias'>
                                <i class="bi bi-lightbulb"></i> Sugerencias de Canciones
                            </a>
                        </li>
                        <!-- Nueva sección para Sistema de Calificación -->
                        <li class="nav-item">
                            <a class="nav-link text-white" routerLink='calificacion'>
                                <i class="bi bi-star-fill"></i> Sistema de Calificación
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Separador visual para la sección de logout -->
                <hr class="bg-secondary my-2">

                <!-- Botón para salir del sistema -->
                <div class="text-center p-3">
                    <a class="btn btn-outline-light w-100" routerLink='/logout'>
                        <i class="bi bi-box-arrow-right"></i> Salir del Sistema
                    </a>
                </div>

                <!-- Footer del sidebar -->
                <footer class="mt-auto text-center text-white p-3">
                    <small>American Karaoke - Designed by Algoritmia-Ec ©<script>document.write(new Date().getFullYear());</script></small>
                </footer>
            </div>
        </nav>
        
        
    </div>
</div>