<h5>Géneros</h5>
            <div class="d-flex flex-wrap gap-2">
                <div class="card" style="width: 5rem;">
                    <img src="https://via.placeholder.com/80" class="card-img-top" alt="Género 1">
                    <div class="card-body p-1">
                        <p class="card-text text-center">Pop</p>
                    </div>
                </div>
                <div class="card" style="width: 5rem;">
                    <img src="https://via.placeholder.com/80" class="card-img-top" alt="Género 2">
                    <div class="card-body p-1">
                        <p class="card-text text-center">Rock</p>
                    </div>
                </div>
                <div class="card" style="width: 5rem;">
                    <img src="https://via.placeholder.com/80" class="card-img-top" alt="Género 3">
                    <div class="card-body p-1">
                        <p class="card-text text-center">Latino</p>
                    </div>
                </div>
                <div class="card" style="width: 5rem;">
                    <img src="https://via.placeholder.com/80" class="card-img-top" alt="Género 4">
                    <div class="card-body p-1">
                        <p class="card-text text-center">Clásico</p>
                    </div>
                </div>
            </div>