<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container ">
      <a class="navbar-brand" routerLink="home">American Karaoke</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" >Nosotros</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link"routerLinkActive="active">Precios</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLinkActive="active">Contactanos</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="admin" >Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="karaoke">Karaoke</a>
          </li>
        </ul>
        <form class="d-flex">
          
          <button class="btn btn-outline-light" routerLink="login" type="submit">Login</button>
        </form>
      </div>
    </div>
  </nav>
  
<router-outlet></router-outlet>
