<div class="bg-white shadow-sm rounded p-4" style="max-height: 90vh;">
  <ul class="nav flex-column">
      <li class="nav-item">
          <a class="nav-link text-dark p-2" routerLink="buscar-canciones" style="background-color: #f8f9fa;" 
             onmouseover="this.style.backgroundColor='#e2e6ea'" 
             onmouseout="this.style.backgroundColor='#f8f9fa'">
              <i class="bi bi-music-note-list me-2" style="color: #007bff;"></i> Lista de Canciones
          </a>
      </li>
      <div class="border-top my-2"></div> <!-- Separador -->

      <li class="nav-item">
          <a class="nav-link text-dark p-2" routerLink="listas-creadas" style="background-color: #f8f9fa;" 
             onmouseover="this.style.backgroundColor='#e2e6ea'" 
             onmouseout="this.style.backgroundColor='#f8f9fa'">
              <i class="bi bi-folder-fill me-2" style="color: #28a745;"></i> Listas Creadas
          </a>
      </li>
      <div class="border-top my-2"></div> <!-- Separador -->

      <li class="nav-item">
          <a class="nav-link text-dark p-2" routerLink="misPreferidas" style="background-color: #f8f9fa;" 
             onmouseover="this.style.backgroundColor='#e2e6ea'" 
             onmouseout="this.style.backgroundColor='#f8f9fa'">
              <i class="bi bi-heart-fill me-2" style="color: #dc3545;"></i> Mis Preferidas
          </a>
      </li>
      <div class="border-top my-2"></div> <!-- Separador -->

      <li class="nav-item">
          <a class="nav-link text-dark p-2" routerLink="generos" style="background-color: #f8f9fa;" 
             onmouseover="this.style.backgroundColor='#e2e6ea'" 
             onmouseout="this.style.backgroundColor='#f8f9fa'">
              <i class="bi bi-grid-fill me-2" style="color: #ffc107;"></i> Géneros
          </a>
      </li>
      <div class="border-top my-2"></div> <!-- Separador -->

      <li class="nav-item">
          <a class="nav-link text-dark p-2" routerLink="buscar-canciones" style="background-color: #f8f9fa;" 
             onmouseover="this.style.backgroundColor='#e2e6ea'" 
             onmouseout="this.style.backgroundColor='#f8f9fa'">
              <i class=" bi bi-fire me-2" style="color: #e74c3c;"></i> Nuevas Canciones
          </a>
      </li>
      <div class="border-top my-2"></div> <!-- Separador -->
  </ul>

 
</div>
