<!-- registro-exitoso.component.html -->
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <!-- Card de registro exitoso -->
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h3 class="card-title mb-4">
                        <i class="bi bi-check-circle-fill text-success"></i> ¡Registro Exitoso!
                    </h3>
                    <p class="card-text mb-4">
                        Bienvenido a <strong>American Karaoke</strong> 🎤. El administrador le dará acceso al sistema en breve.
                    </p>
                    <p class="mb-4">¡Gracias por registrarse! Recibirá una notificación una vez se habilite su acceso.</p>
                    <a routerLink="/home" class="btn btn-primary">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
